.header-container {
    display: flex;
    align-items: center;
    padding: 1em 5em 0 5em;
    background-color: transparent;
    color: #fff;
    height: 5em;
}


img.logo {
    margin-right: auto;
    width: 10em;
}

.login-button-wrapper {
    margin-left: auto;
}

h1.title {
    margin: auto;
    color: #FE9611;
    font-size: 3em;
    text-shadow: -1px 1px 0 #f96407,
    1px -1px 0 #76C4C8;
}
