.header-container {
    display: flex;
    align-items: center;
    padding: 1em 5em 0 5em;
    background-color: transparent;
    color: #fff;
    height: 5em;
}

.logo {
    margin-right: auto;
}

img.logo {
    width: 10em;
}

.login-button-wrapper {
    margin-left: auto;
}
