.header-container {
    display: flex;
    align-items: center;
    padding: 1em 5em 0 5em;
    background-color: transparent;
    color: #fff;
    height: 5em;
}

.logo {
    margin-right: auto;
}

img.logo {
    width: 10em;
}

.login-button-wrapper {
    margin-left: auto;
}


.cart {
    cursor: pointer;
    position: relative;
    margin-right: 2em;
}

.cart p {
    top: -1em;
    left: 0;
    color: white;
    text-shadow: red 1em 1em 1em;
    position: absolute;
}

.cart img {
    /*background-color: #FE9611;*/
    height: 3em;
    width: 3em;
}