@import url('common.css');

body {
  background-color: black;
  margin: 0;
  overflow: scroll;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#background-video {
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.error {
  color: #FE9611;
  text-shadow: red 1px 0 1em;
  text-align: center;
  margin: 1em 0 1em 0;
}