.ymap {
    position: relative;
    overflow: hidden;
}


.maps-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ymap {
    box-shadow: 0 0 2em 0 #76C4C8;
}

.shops-description {
    text-indent: 2em;
    text-align: justify;
    font-size: 20px;
}

.shops-title {
    text-align: center;
}

.shops-secondary-title {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em 0;
}

.maps-wrapper {
    border-radius: 1em;
    background: white;
    padding: 2em;
}
